/* Register Form Stili */
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/register.jpg!d') no-repeat center center fixed; /* Arka plan resmi */
    background-size: cover; /* Resmi tam ekran kaplama */
    image-rendering: crisp-edges;
}   

.register-container {
    background-color: rgba(255, 255, 255, 0.9); /* Yarı şeffaf beyaz arka plan */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #368f62;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: #368f62;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #2b6f50;
}
